.nav-1{
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 70px;
}
.nav-1-1{
    height: 100%;
    width: 20%;
    display: flex;
}
.nav-1-1-1 {
    height: 100%;
    width: 45%;
}
.nav-1-1-1 img{
    height: 100%;
    width: 45%;
    float: right;
}
.nav-1-1-2{
    height: 100%;
    width: 50%;
}
.nav-1-1-2-a{
    width: 90%;
    height: 40px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    margin-top: 15px;
    line-height: 41px;
    letter-spacing: 0.005em;
    background: linear-gradient(96.03deg, #2F76FF 13.36%, rgba(87, 7, 255, 0.5) 41.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
.nav-1-2{
    height: 100%;
    width: 60%;
}
.nav-1-3{
    height: 100%;
    width: 20%;
}
.nav-1-2{
    display: flex;
}
.nav-1-2-1{
    margin-left: 5%;
    width: 30%;
    height: 100%;
}
.nav-1-2-1 p{
    margin-top: 24px;
    font-family: 'Roboto', serif;
    text-align: right;
    font-size: 18px;
    color: #838383;
}
.nav-1-2-2{
    width: 30%;
    height: 100%;
    font-family: 'Roboto', serif;
}
.nav-1-2-2 p{
    margin-top: 24px;
    font-family: 'Roboto', serif;
    text-align: center;
    font-size: 18px;
    color: #838383;
}
.nav-1-2-3{
    width: 30%;
    height: 100%;
    font-family: 'Roboto', serif;
    margin-right: 5%;
}
.nav-1-2-3 p{
    margin-top: 24px;
    font-family: 'Roboto', serif;
    text-align: left;
    font-size: 18px;
    color: #838383;
}
.nav-1-3-1{
    border: 1px solid #858585;
    font-family: 'Roboto', serif;
    width: 30%;
    height: 25px;
    border-radius: 10px;
    margin-top: 24px;
    text-align: center;
    vertical-align: middle;
    color: #363636;
    font-weight: 700;
    cursor: pointer;
}
.body-1{
    width: 100%;
    height: 400px;
    display: inline-block;
    position: relative;
}
.body-img-1{
    display: flex;
    width: 100%;
    height: 400px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
.body-1-1{
    width: 80%;
    height: 300px;
    z-index: 2;
    position: absolute;
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}
.body-1-1-a{
    height: 100%;
    width: 50%;
}
.body-1-1-b{
    height: 100%;
    width: 50%;
    display: flex;
}
.title-1{
    width: 100%;
    height: 35%;
    z-index: 999;
    margin-top: 50px;
}
.title-2{
    width: 100%;
    height: 20%;

}
.title-3{
    width: 100%;
    height: 15%;

}
.title-1 span{
    position: absolute;
    color: rgb(255, 252, 252);
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, serif;
}
.title-2 span{
    position: relative;
    color: rgb(255, 252, 252);
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, serif;
}
.button-1{
    box-sizing: border-box;
    position: absolute;
    background: #8348FF;
    border: 1px solid #C8AEFF;
    border-radius: 10px;
    color: white;
}
.title-a-1{
    height: 100%;
    width: 50%;
}
.title-a-2{
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.title-a-2 img{
    width: 100%;
    height: 100%;
}
.title-a-1-1{
    float: right;
    width: 40%;
    height: 50%;
    margin-top: 50px;
}
.circle-1{
    height: 50%;
    width: 100%;
}
.circle-2{
    height: 30%;
    width: 100%;
}
.circle-2 img{
    float: right;
}
.circle-3{
    height: 20%;
    width: 100%;
}
.circle-3 img{
    float: bottom;
    margin-left: 70%;
}
.body-2{
    width: 100%;
    height: 150px;
}
.body-2-1{
    width: 100%;
    height: 30%;
}
.body-2-1-a{
    text-align: center;
    font-family: Arial, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #767676;
}
.body-2-1-b{
    width: 20%;
    height: 1px;
    border: 1px solid #767676;
    margin-left: auto;
    margin-right: auto;
}
.body-2-2{
    display: flex;
    width: 100%;
    height: 70%;
}
.body-2-2-1{
    width: 20%;
    height: 80%;
    border: 1px solid #FFFFFF;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #767676;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-2-2-2{
    width: 20%;
    height: 80%;
    border: 1px solid #FFFFFF;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #767676;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-2-2-3{
    width: 20%;
    height: 80%;
    border: 1px solid #FFFFFF;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #767676;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-2-2-4{
    width: 20%;
    height: 80%;
    border: 1px solid #FFFFFF;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #767676;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-2-2-5{
    width: 20%;
    height: 80%;
    border: 1px solid #FFFFFF;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #767676;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-3{
    width: 100%;
    height: 400px;
}
.body-3-1{
    width: 100%;
    height: 10%;
}
.body-3-1-a{
    text-align: center;
    font-family: Arial, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #767676;
}
.body-3-1-b{
    width: 20%;
    height: 1px;
    border: 1px solid #767676;
    margin-left: auto;
    margin-right: auto;
}
.body-3-2{
    width: 100%;
    height: 90%;
    display: flex;
}
.body-3-2-a{
    width: 40%;
    height: 100%;
    display: flex;
    position: relative;
}
.body-3-2-b{
    width: 60%;
    height: 100%;
    display: flex;
    position: relative;
}
.body-img-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 95%;
    border-radius: 10px;
}
.body-img-2 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.title-body-1{
    position: absolute;
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
}
.title-bd-1-1{
    width: 100%;
    height: 30%;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.02em;
    color: #3600D0;
    display: flex;
    align-items: center;
}
.title-bd-1-2{
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #767676;
}
.body-4{
    width: 100%;
    height: 360px;
    display: flex;
    position: relative;
}
.body-4-1{
    width: 60%;
    height: 100%;
    display: flex;
    position: relative;
}
.body-4-1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.title-body-2{
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
}
.body-4-2{
    width: 40%;
    height: 100%;
    display: flex;
    position: relative;
}
.title-bd-2-1{
    width: 100%;
    height: 30%;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.02em;
    color: #3600D0;
    display: flex;
    align-items: center;
    text-align: right;
}
.title-bd-2-2{
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #767676;
    text-align: right;
}
.body-5{
   width: 100%;
    height: 600px;
}
.body-5-3{
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    background-color: #ffffff;
}
.body-5-3 img{
    width: 900px;
    height: 400px;
    box-sizing: border-box;
    border-radius: 20px;
}
.containers {
    perspective: 1000px;
    height: 100%;
}

#carousel {
    top: 5%;
    position: relative;
    margin-left: 40%;
}

#carousel figure {
    border: 1px solid;
    animation: rotate 30000ms ease-in-out infinite;
    position: absolute;
    background-color: white;
    width: 900px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#carousel figure:nth-child(0) {
    animation-delay: -30000ms;
}
#carousel figure:nth-child(1) {
    animation-delay: -22500ms;
}
#carousel figure:nth-child(2) {
    animation-delay: -15000ms;
}
#carousel figure:nth-child(3) {
    animation-delay: -7500ms;
}
#carousel figure:nth-child(4) {
    animation-delay: 0ms;
}
#carousel figure:nth-child(5) {
    animation-delay: 7500ms;
}
#carousel figure:nth-child(6) {
    animation-delay: 15000ms;
}

@keyframes rotate {
    0%, 20%, 99.7619047619%, 100% {
        transform: rotateY(45deg) scale(0.6);
        right: 0;
        z-index: -1;
        opacity: 1;
        filter: blur(3px);
    }
    24.7619047619%, 45% {
        transform: rotateY(0deg) scale(1);
        right: 40%;
        z-index: 100;
        opacity: 1;
        filter: blur(0px);
    }
    49.7619047619%, 70% {
        transform: rotateY(-45deg) scale(0.6);
        right: 81%;
        z-index: -1;
        opacity: 1;
        filter: blur(3px);
    }
    74.7619047619%, 95% {
        transform: rotateY(-90deg) scale(0);
        right: 0%;
        z-index: 0;
        opacity: 0;
        filter: blur(0px);
    }
}
.body-5-1{
    width: 100%;
    height: 10%;
}
.body-5-2{
    width: 100%;
    height: 15%;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.02em;
    color: #3600D0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-5-1-a{
    text-align: center;
    font-family: Arial, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #767676;
    margin-top: 20px;
}
.body-5-1-b{
    width: 20%;
    height: 1px;
    border: 1px solid #767676;
    margin-left: auto;
    margin-right: auto;
}
.footer-1{
    width: 100%;
    height: 100px;
    position: relative;
}
.body-img-3{
    display: flex;
    width: 100%;
    height:100px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
.footer-1-1{
    width: 100%;
    height: 60%;
}
.footer-1-2{
    width: 100%;
    height: 40%;
    display: flex;
}
.footer-1-2-a{
    width: 50%;
    height: 100%;
    color: white;
    z-index: 999;
    font-weight: 500;
    font-family: Arial, serif;
    margin-left: 5%;
}
.footer-1-2-b{
    width: 50%;
    height: 100%;
    color: white;
    z-index: 999;
    font-weight: 500;
    font-family: Arial, serif;
    margin-right: 5%;
    text-align: right;
}