body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
}

.carousel-tab{
    overflow: hidden;
    width: 600px; /* Độ rộng của 6 bài hát */
}

.song-list {
    display: flex;
    white-space: nowrap;
    transition: transform 0.5s;
}

.song {
    padding: 0 10px;
    width: 100px; /* Độ rộng của mỗi bài hát */
    box-sizing: border-box;
}

button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 4px 8px;
    line-height: 1;
}
/* Thêm vào phần CSS hiện tại */
button.hidden {
    display: none;
}

button.visible {
    display: inline-block;
}
