.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}



/*------------------------------------------------------------fix-----------------------------------------------------*/
.infor-CT{
    width: 100%;
    height: 10%;
    border: 1px solid;
}
.form-start{
    width: 100%;
    height: 90%;
    border: 1px solid;
}
.name-CT{
    width: 80%;
    height: 100%;
    border: 1px solid;
}