.nav-bar{
    background-image: url("anh4/Header_background.png");
    width: 100%;
    height: 6vh;
    display: flex;
}
.logo-qlct{
    width: 20%;
    height: 100%;
    display: flex;
}
.img-logo{
    margin-left: 10%;
    width: 20%;
    height: 100%;
}
.img-logo img{
    width: 100%;
    height: 100%;
}
.title-logo{
    width: 60%;
    height: 100%;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.005em;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    color: #003192;
    display: flex;
    align-items: center;
}
.title-qlct{
    width: 50%;
    height: 100%;
    display: flex;
}
.title-qlct-1{
    width: 30%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #838383;
}
.title-qlct-2{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #838383;
}
.title-qlct-3{
    width: 30%;
    height: 100%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #838383;
}
.ava-qlct{
    width: 30%;
    height: 100%;
    display: flex;
}
.ava{
    margin-left: 5%;
    width: 17%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.ava img{
    width: 50%;
    height: 80%;
    border-radius: 360px;
}
.user{

    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #838383;
}
.side-menu{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-qlct{
    width: 100%;
    height: 92vh;
    display: flex;
}
.side-bar-1{
    height: 100%;
    width: 3%;
    background-color: #ECECEC;
    color: #0e0c0c;
    box-sizing: border-box;
    transition: all 0.3s ease;
    z-index: 1;
}
.side-bar-1.active {
    width: 15%;
}
.side-bar-1 span{
    margin-left: 5px;
    color: #0e0c0c;
    font-weight: 600;
}
.sidebar-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 2;
    padding: 10px;
}

.sidebar-toggle:hover {
    transform: scale(1.1);
}

.sidebar-toggle i {
    font-size: 2em;
}
.side-bar-1 span{
    margin-left: 10px;
}
.side-bar-1 .dropdown-menu {
    display: none;
}
.side-bar-1 .dropdown-toggle {
    cursor: pointer;
}
.side-bar-1 .dropdown-toggle::after {
    content: "";
    float: right;
}
.side-bar-1.active .dropdown-toggle::after {
    content: "▼";
    float: right;
}
.side-bar-1 .dropdown-toggle.open::after {
    content: "▲";
}

.side-bar-1 .dropdown-menu li a {
    padding: 5px 45px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

nav li:hover {
    background-color: #d0d3d9;
}

nav a {
    display: block;
    padding: 10px;
    color: #100e0e;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #839098;
}

nav i {
    font-size: 1.5em;
}
.side-bar-1 ul li a .toggle-text {
    display: none;
}
.side-bar-1.active ul li a .toggle-text {
    display: inline;
}

.body-qlct-2-2{
    width:100%;
    height: 92vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.tabs {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab-item {
    width: 20%;
    font-size: 2vh;
    text-align: center;
    color: #100f0f;
    background-color: #ECECEC;
    cursor: pointer;
    transition: all 0.5s ease;
    height: 60%;
    font-weight: bold;
    margin: 20px;
    display: flex;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
.name-1{
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;
    color: #505050;
    width: 57%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 3%;
}
.number-1{
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 29px;
    color: #505050;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab-item:hover {
    background-color: #8994ce;
    border-color: #d0ff00;
}
.tab-item.active {
    opacity: 1;
    background-color: #6394F5;
}
.tab-content {
    width: 100%;
    height: 80%;
}
.tab-pane {
    color: #333;
    display: none;
    width: 100%;
    height: 100%;
}
.tab-pane.active {
    display: block;
}
.content{
    width: 97%;
    height: 92vh;
}
.menu-tit{
    width: 98%;
    height: 7%;
    background-color: #E5E5E5;
    margin: 1%;
    display: flex;
}
.menu-tit-1{
    width: 48%;
    height: 100%;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    display: flex;
    align-items: center;
    margin-left: 2%;
}
.menu-tit-2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m-t-1{
    margin-left: 47%;
    width: 15%;
    height: 100%;
    text-align: right;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.m-t-2{
    width: 30%;
    height: 100%;
}
.m-t-3{
    width: 3%;
    height: 100%;
    text-align: center;
    position: relative;
}
.m-t-3 i{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 75%;
    border-radius: 25px;
    background-color: #f2f2f2;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    width: 80%;
    height: 40%;
    line-height: 40px;
}

.search-btn{
    color: #fff;
    font-size: 16px;
    background: #3b9dee;
    border: none;
    width: 5vh;
    height: 4vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-btn:hover {
    transform: scale(1.1);
}
.qlct-content{
    width: 98%;
    height: 88%;
    border: 1px solid;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.content-qlct-1{
    width: 50%;
    height: 100%;
    border: 1px solid;
}
.conten-qlct-2{
    width: 50%;
    height: 100%;
    border: 1px solid;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    overflow: auto;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #769CE8;
    color: #fff;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.back{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
}
.back-1 i{
    margin-left: 10px;
}
.back-1{
    display: flex;
    align-items: center;
    width: 97%;
    height: 100%;
    color: #505050;
}
.back-2{
    width: 3%;
    height: 100%;
    background-color:#aaa;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-select select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.custom-select {
    position: relative;
    width: 100%;
}

.custom-select::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    pointer-events: none;
}

.custom-select select:focus {
    outline: none;
}

.custom-select select option {
    font-size: 16px;
}
.content-file{
    width: 100%;
    height: 7.5%;
    display: flex;
}
.content-file-1{
    width: 100%;
    height: 92.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-file-a{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: Arial, serif;
    font-weight: 700;
    text-decoration-line: underline;
    margin-left: 2%;
}
.content-file-b{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 3%;
}
.carousel-container {
    border-radius: 20px;
    position: relative;
    width: 90%;
    height: 90%;
    overflow: hidden;
    border: 1px solid;
}

.carousel-slide {
    display: flex;
    width: 500%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    border-radius: 20px;
}

.carousel-slide img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-nav button {
    color: #0a0909;
    font-size: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    background-color: white;
    border: none;
}

.carousel-nav button:hover {
    opacity: 0.8;
}

.image-counter {
    color: #0c0a0a;
    font-size: 24px;
    margin: 0 20px;
}
.side-qlct-1-his{
    height: 92%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #dfe6e9;
    overflow-x: hidden;
    transition: 0.5s;
    right: 0;
}
.side-1-his{
    width: 30vh;
    height: 8vh;
}
.side-1-1-his{
    width: 30vh;
    height: 4vh;
    display: flex;
}
.side-1-1-1-his{
    width: 3vh;
    height: 3vh;
}
.side-1-1-2-his{
    width: 27vh;
    height: 3vh;
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
    font-family: Arial, "Times New Roman", serif;
    color: #1e2dd2;
    padding-top: 0.2vh;
}
.side-1-his .close-side-1{
    position: absolute;
    font-size: 2.5vh;
}
.side-1-1-his i{
    margin-right: 2vh;
    width: 2.5vh;
    height: 2.5vh;
    text-align: center;
}


